@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* CSS HSL */
  /* https://coolors.co/ */

 /* --primaria: hsla(210, 67%, 43%, 1);
  --background: hsla(108, 22%, 87%, 1);
  --secundaria: hsla(34, 100%, 50%, 1);
  --destaque: hsla(355, 78%, 56%, 1);
  --detalhe: hsla(9, 63%, 45%, 1);*/


  --primaria: #000000;
  --background: #ffffff;
  --secundaria: #002555;
  --terciaria: #1b2f7a; /* :) */
  --destaque: #f5ac00;
  --detalhe:#1245ff;
}

/* borda vermelha em todos os elementos para debug */
/*
* {
  outline: red solid 1px;
}
*/

body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  background-color: var(--background);
  color:var(--background);
}

a {
  font-family: 'Krub', sans-serif;
}


.NomeProjetos{
  color: var(--secundaria);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.50);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}


 .area-add-projetos{
  position: relative;
  height: 155.9px;
  font-size: 12.13px;
  color: #c0c0c0;
 }

.add-projeto{
  position: absolute;
  left: calc(50% - 113.5px);
  box-shadow: 0px 2.7104475498199463px 2.71px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #f1f1f1;
  width: 227px;
  height: 155.9px;

}

.escrita-add-projeto{
  position: absolute;
  top: 102.5px;
  left: 900px;
  font-size: 1.2em;
}



.botao-paginacao {
  position: absolute;
  top: 0px;
  left: calc(50% - 140px);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #fbf7f7;
  border: 1px solid black;
  box-sizing: border-box;
  width: 280px;
  height: 39px;
}

.pagina-1 {
  position: absolute;
  top: 11px;
  left: calc(50% - 33.5px);
  color: black;
  font-family: var(--font-inter);

}
.area-paginacao {
  position: relative;
  height: 39px;
}


@media screen and (min-width:470px) {
  .NomeProjetos{
    text-align: center;
  }

}